.custom-import-node-container-orders {
    color: #fff;
    background-color: #9564CE;
    padding: 4px;
    border-radius: 4px;
    box-sizing: border-box;
}

.custom-import-node {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-node-icons-orders-in {
    border: 1.2px solid rgb(255, 255, 255);
    border-radius: 100px;
    padding: 4px;
    height: 20px;
    width: 20px;
    margin: 4px;
}

.custom-node-title {
    font-size: 8px;
    font-weight: 400;
}

.custom-node-tooltip {
    font-size: 12px !important;
    margin-top: 10px;
}

.configure-node-icon-order-in {
    height: 12px;
    width: 12px;
    background: #6230A3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 6px;
    color: #fff !important;
    border: 1.2px solid rgb(255, 255, 255);
    ;
}

.connected-node-icon {
    height: 12px;
    width: 12px;
    background: #00b950;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 6px;
    color: #fff !important;
    border: 1.2px solid rgb(255, 255, 255);
}