.wf-header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 10vh;
    box-sizing: border-box;
}

.header-logo{
    margin-left: 10px;
}